# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.sln.docstates
.vscode/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
build-linux/
build-linux-asan/
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.opendb
*.sdf
*.cachefile
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx
src/visual-studio/.vs/visual-studio/FileContentIndex/0ff0c069-8e60-4f58-83a3-26dd53ce1130.vsidx
src/visual-studio/.vs/visual-studio/v18/Browse.VC.db-shm
src/visual-studio/.vs/visual-studio/v18/Browse.VC.db-wal
src/visual-studio/.vs/visual-studio/v18/DocumentLayout.json
src/visual-studio/.vs/visual-studio/v18/DocumentLayout.backup.json
src/visual-studio/.vs/visual-studio/v18/fileList.bin
/src/visual-studio/.vs/visual-studio/FileContentIndex
